#registrate {
  background-image: url(../img/taxi.jpg);
}
 .amarillo {
   background: #FCB425;
   padding: 200px;
 }

#descarga {
  background: #FCB425;
}
.white {
  color: #fff;
}
.padding {
  padding: 100px;
}

.border {
  border:
}

#conduce {
  background-image: url(../img/conduce.jpg);
}
